// RJ's overrides for printing things

@media print {

.article > .overlay {
  display: none;
}

.article > .featured-image {
  display: none;
}

// header.site-header nav ul li a {
//   color: #000000;
// }

header.site-header {
  display: none;
}

.video-container {
  display: none;
}

// h1, h2 {
//   page-break-before: always;
// }

.post a.share {
  display: none;
}

footer {
  background: none;
  background-color: #FFFFFF;
  color: #000000;
}

footer small {
  color: #000000;
}

footer small a {
  color: #000000;
}

}
